@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* css para ambos arquivos html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #F5E6E8;
}

main {
    background-color: #274060;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 22%;
    background-color: #1B2845;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
}

header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 20px;
}

form label {
    font-size: 15px;
}

form input {
    border: none;
    outline: none;
    background-color: #36546e;
    padding: 8px 5px;
    border-radius: 2px;
}

form input::placeholder {
    color: #D5C6E0;
}

form button {
    background-color: #F5E6E8;
    color: #1B2845;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px 0;
    border-radius: 5px;
    margin-top: 10px;
}

form button:hover {
    background-color: #D5C6E0;
}

a:hover {
    color: #D5C6E0;
}

.success {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.success i {
    font-size: 48px;
    color: #87fc78;
}

#login-form {
    border-bottom: 1px solid #D5C6E0;
}

#login-error, #signup-error {
    color: #f44545;
    font-size: 14px;
    text-align: center;
}

#login-link {
    font-size: 15px;
    text-align: center;
}

.hidden {
    display: none;
}



